* {
  margin: 0;
  padding: 0;
  color: #404040;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: #f1f1f1;
  counter-reset: courseCount;
}

.courses-list {
  padding: 20px;
  width: 640px;
  margin: 0 auto;
}

.course-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  padding: 10px 16px;
  margin-top: 16px;
  transition: all .3s;
  background: #fff;
  position: relative;
  margin-left: 50px;
}

.course-item::after {
  counter-increment: courseCount;
  content: counter(courseCount);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #666;
  top: calc(50% - 25px);
  left: -80px;
  border-radius: 100%;
  color: #fff;
  font-size: 2.6rem;
  transition: all .3s;
}

.course-item:nth-of-type(even) {
  background: #fafafa;
}

.course-item:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 0 0 15px #999;
}

.course-item:hover::after  {
  transform: scale(1.3);
  box-shadow: 0 0 15px #999;
}

.course-title {
  font-size: 1.8rem;
  margin-top: 4px;
}

.course-desc {
  font-size: 1.6rem;
  margin-top: 12px;
}

.created-from-now {
  font-size: 1.4rem;
  margin-top: 12px;
  text-align: right;
  font-style: italic;
}

.load-more-wrap {
  width: 100%;
  margin: 20px 0 40px 0;
}

.load-more-btn {
  display: block;
  width: 120px;
  margin: 0 auto;
  font-size: 2rem;
  background: #fff;
  text-align: center;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all .3s;
}

.load-more-btn:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 0 0 15px #999;
}

#go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #999;
  transition: all .3s;
  display: none;
}

#go-to-top::after {
  display: block;
  content: "Go to TOP!";
  padding: 6px 0;
  color: #ccc;
  font-size: 1.6rem;
  transition: all .3s;
}

#go-to-top:hover {
  background: #666;
}

#go-to-top:hover::after {
  cursor: pointer;
  color: #fff;
}
